{{ define "main" }}
<section class="container">
  <div class="citation formule-intro">
    <h1>{{ .Params.title }}</h1>
    <div class="padding-top-1-2">
      <img src="/img/logo-minimaliste.png" alt="logo-symbolik" width="8%">
    </div>
  </div>
  <br>
  {{ if isset .Params "formule" }}
  <div class="content formule-intro text-center">
    <h2>{{ .Params.intro }}</h2>
    <h2 style="font-weight: 400;">{{ .Params.intro2 }}</h2>
    <h2>{{ .Params.formule }}</h2>
    <h2>{{ .Params.formule2 }}</h2>
    <br>
  </div>
</section>
<br>
<section class="formule ">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-12 green-light">
      <div class="text-blue padding-2">
        <h2 class="text-center">{{ .Params.accrochetitle }}</h2>
        {{ range .Params.accrochetxt }}
        <p>{{ .txt }}</p>
        {{ end }}
      </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-12 text-blue-background">
      <div class="padding-2" style="color:white;">
        <h2 class="text-center">{{ .Params.accrochesidetitle }}</h2>
        {{ range .Params.accrocheside }}
        <p class="text-center">{{ .txt }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<br><br>
<section class="formule">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-12 padding-0">
      <img src="{{ .Params.imgformule }}" alt="" width="100%">
    </div>
    <div class="col-lg-8 col-md-9 col-sm-12">
      <div class="padding-2 text-blue">
        {{ .Content | markdownify }}
      </div>
    </div>
  </div>
</section>

<section class="padding-3">
  <div class="link-catalogue text-center demande">
    <a href="/contact">
      <button type="button" class="btn btn-light">Contactez Elodie pour en savoir plus</button></a>
  </div>

</section>
{{ if isset .Params "avis" }}
<section>
  <div class="formule-avis">
    <h2>{{ .Params.avistitle }}</h2>
  </div>
  <div class="row">
    {{ range .Params.avis }}
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="text-blue padding-2">
        <div class="formule-avis">
          <p>{{ .avistxt }}</p>
        </div>
        <div class="formule-avis-nom">
          <p>{{ .avisnom }}</p>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}


</section class="container">
{{ if isset .Params "pro" }}
<section class="green-light">
  <div class="formule-pro padding-top-1-2">
    <div class="container text-blue">
      <h2>{{ .Params.protitle }}</h2>
    </div>

  </div>
  <div class="row">
    {{ range .Params.pro }}
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="text-blue padding-1">
        <div class="formule-pro">
          <div class="text-center padding-1">
            <img src="{{ .icon }}" alt="" height="60rem">
          </div>
          <h3>{{ .title }}</h3>
        </div>
        <div class="formule-pro">
          <p>{{ .txt }}</p>
          <p class="bold">{{ .txt2 }}</p>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ end }}

<section class="container padding-top-bot-2">
  <div class="indexsection3">
    <h2>Découvrez tous nos thèmes</h2>
    <br>
  </div>
 <!--<div class="row">
    {{ range $.Site.Pages }}
    {{ if isset .Params "espace" }}
    <div class="col-lg-2 col-md-2 col-sm-4 mx-auto text-center">
      <div class="image padding-top-bot-1">
        <a href="/catalogue/{{ .Params.lien }}">
          <img class="formule-img" src="{{ .Params.catalogueimgb }}" alt="{{ .Params.title }}"
            title="{{ .Params.title }}">
        </a>
      </div>
    </div>
    {{ end }}
    {{ end }}

</section>

<section class="padding-top-bot-2">-->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{ range $.Site.Pages }}
      {{ if isset .Params "espace" }}
      <div class="swiper-slide">
        <div class="catalogue-rond">
          <a href="/catalogue/{{ .Params.lien }}">
            <img src="{{ .Params.catalogueimgb }}" style="height: 20vh; padding-left: 3rem;">
          </a>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="swiper-pagination"></div>
</section>
{{ end }}