@media (max-width: 576px) {

}

@media (min-width: 768px) {

}


/*Général*/

.green {
  background-color: rgb(6,163,6)
}
.green-light {
  background-color: rgb(227,238,238)
}
.green-dark {
  background-color: rgb(25,81,1)
}
.orange-light {
  background-color: rgb(254,233,204)
}
.pink-light {
  background-color: rgb(243,227,240)
}
.yellow-light {
  background-color: rgb(247,245,206)
}
.purple-light {
  background-color: rgb(238,237,255)
}
.text-green {
  color: rgb(137,148,148);
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.padding-top-bot-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.padding-top-bot-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.padding-top-bot-7 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.padding-top-1-2 {
  padding-top: 1.2rem;
}
.padding-top-3 {
  padding-top: 3rem;
}
.margin-1 {
  margin: 1rem;
}
.padding-3 {
  padding: 3rem;
}
.padding-5 {
  padding: 5rem;
}
.padding-7 {
  padding: 7rem;
}
.row {
  padding:0;
  margin:0;
}
p {
  font-weight: 200;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
a:active {
  font-weight: 600;
}
.lead-content {
  font-size: 1.3rem;
  font-weight: 200;
  text-align: center;
}
.bold {
  font-weight: 400;
}
.content p {
  font-weight: 200;
  padding-left: 1rem;
}
.content h1 {
  font-weight: 400;
  margin-bottom: 2rem;
  padding-top: 3rem;
  text-transform: uppercase;
  color: rgb(127,188,188);
}
@media (max-width: 576px) {
  .content h1 {
    font-size: 1.5rem;
    text-align: center;
}
}

@media (min-width: 768px) {
  .content h1 {
    font-size: 2rem;
    border-bottom: 1px solid rgb(127,188,188);

}
}
.content h3 {
  font-weight: 400;
  padding-left: 2rem;
  font-size: 1.2rem;
  color: gray;
}
.content h2 {
  font-weight: 200;
  text-align:center;
  font-size: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.content li {
  list-style: none;
  font-weight: 200;
}

 /* index */
 .haut-page {
   text-align: center;
   padding: 1rem;
 }
 .panel {
     width: 200px;
     height: 200px;
     margin: auto;
     position: relative;
 }
 .no-padding {
 padding-right:0;
 padding-left:0;
 }

 .index h1 {
   color: black;
   font-size: 2.2rem;
   padding-top: 2rem;
   padding-left: 4rem;
   font-weight: 200;
 }

 .index h2 {
   font-size: 1.2rem;
   padding: 0rem;
   margin: 0rem;
   color: silver;
   font-weight: 200;
   padding-top: 0.5rem;
   padding-left: 4rem;
}

.index-h1 {
  text-transform: uppercase;
  background-color: rgb(30,122,130);
  color: white;
  font-weight: 400;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-right: 50%;
  padding-left: 20%;
  text-align: left;
}

.indexsection3 h1 {
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}
.indexsection3 h2 {
  font-weight: 500;
  color: silver;
}

.indextitleimg {
  margin : 0.5rem;
}

.index-logo {
  margin-top:8rem;
  padding-left:4rem;
  width: 65%;
}

.index-section2-title h2 {
  color: rgb(30,122,130);
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.index-section2-image {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.index-section4 {
  margin: 1;
}
.containerimg {
  margin-left: 2rem;
  margin-right: 2rem;
}
.citation {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
}
@media (max-width: 576px) {
  .citation-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 768px) {
 .citation-padding {
   padding-top: 5rem;
   padding-bottom: 5rem;
 }
}

.thumbnail {
    width: 260px;
    height: 260px;
    text-align: center;
}

.link-catalogue h2 {
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(50,50,50);
}
.link-catalogue {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.link-catalogue a:hover {
  font-size: 1.5rem;
}
/* Catalogue single */

.swiper-container {
  width: 100%;
  height: 30%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 50%;
}

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.catalogue-age {
  font-weight: 100;
  font-size: 1.5rem;
  color: silver;
  text-align: right;
}
@media (max-width: 576px) {
  .catalogue-age {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: right;
 }
}

.tarif p {
  margin-bottom: 0rem;
}
.tarif h2 {
  margin-bottom: 0;
}
.tarif h3 {
  margin-bottom: 0;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 576px) {
  .catalogue-description {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .catalogue-description {
    padding: 3rem;
  }
}

.details {
  padding-left: 10rem;
  font-size: 0.9rem;
  color: gray;
}
.catalogue-h1 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  border-bottom: solid 0.5px;
}
@media (max-width: 576px) {
  .catalogue-h1 {
     font-size: 2rem;
  }
}

.carousel-caption {
    position: absolute;
    right: 3%;
    bottom: 0;
    left: 15%;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: right;
    text-shadow: 0px 0px 2px black;
}

.carouselnu-caption {
    position: absolute;
    right: 3%;
    bottom: 0;
    left: 15%;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    text-shadow: 0px 0px 2px black;
}

@media (max-width: 576px) {
  .carouselnu-padding {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .carouselnu-padding {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 3rem;
  }
}


.carousel-text-index {
  font-size: 3.5rem;
  font-weight: 500;
}
@media (max-width: 576px) {
  .carousel-text-index {
    font-size: 2.2rem;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .carousel-text-index {
    font-size: 3.5rem;
    font-weight: 500;
  }
}

.carousel-text {
  font-size: 1.8rem;
  font-weight: 500;
}

@media (max-width: 576px) {
  .catalogue-ul {
    padding-left: 1rem;
  }
}

@media (min-width: 768px) {
  .catalogue-ul {
    padding-left: 8rem;
  }
}
.catalogue-ul {
  font-weight: 200;
  font-size: 1.3rem;
  list-style: none;
}

.catalogue-ul li {
  padding-bottom: 0.5rem;
}

.catalogue-ul-bold {
  font-weight: 400;
  font-size: 1.3rem;
}
 .voiraussi {
   padding-top: 0rem;
   text-align: right;
   padding: 2rem;
 }

 .voiraussi h3 {
   padding-right: 1rem;
   font-size: 1.5rem;
   text-transform: uppercase;
   font-weight: 300;
   padding-bottom: 0.5rem;
   padding-left: 0.5rem;
   border-bottom: solid 0.5px;
}
@media (max-width: 576px) {
  .voiraussi h3 {
    margin-top: 2rem;
    text-align: right;
  }
  .voiraussi img {
    margin: 1rem;
    width: 120px;
  }
  .voiraussi {
    padding: 0rem;
  }
}

@media (min-width: 768px) {
  .voiraussi h3 {
    margin-top: 2rem;
    margin-left: 50%;
  }
  .voiraussi img {
    margin: 2rem;
    width: 150px;
  }
  .voiraussi {
    padding: 2rem;
  }
}

@media (max-width: 576px) {
  .titleimg {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .titleimg {
    width: 90%;
    padding-top: 2rem;
    text-align: right;

  }
}



.pic:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.pic {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.technique {
  font-style: italic;
  font-weight: 200;
}

@media (max-width: 576px) {
  .technique {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 768px) {
  .technique {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.prix h2 {
  font-weight: 400;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.prix p {
  font-size: 1.1rem;
}

.prix h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

@media (max-width: 576px) {
.small {
  margin-top: 2rem;
}
}

.devis h1 {
  text-transform: uppercase;
  font-size: 1.3rem;
  text-align: center;
  color: rgb(6,163,6);
}

/* Catalogue */

.catalogue h1 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  margin-bottom: 3rem;
  border-bottom: solid 0.5px;
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 3rem;
}
@media (max-width: 576px) {
.catalogue h1 {
   margin-left: 1rem;
   margin-right: 1rem;
   font-size: 2.3rem;
 }
}

@media (min-width: 768px) {
.catalogue h1 {
   margin-left: 10rem;
   margin-right: 10rem;
 }
}

.cataloguetitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  padding: 4rem;
}

@media (min-width: 768px) {
.presta {
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
}
@media (max-width: 576px) {
  .presta {
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
 }
}

.prestaaccueil {
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.locationtitle {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
.locationintro {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(40, 40, 40);
}

.locationcontent {
  text-align: center;
  font-weight: 200;
  font-size: 1.2rem;
}

.explicationbutton {
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  color: silver;
  border: none;
  font-size: 0.9rem;
  background-color: white;
}

button:focus {
    outline: 0px dotted;
}

button:hover {
  font-weight: 500;
}

.explicationtitle {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 1.9rem;
  font-weight: 400;
  text-transform: uppercase;
}

.explicationcontent li {
  font-weight: 200;
  list-style: none;
}

.explicationcontent p {
  font-weight: 200;
}

.explicationcontent h1 {
  font-weight: 400;
  font-size: 1.4rem;
  padding-left: -1rem;
  padding-bottom: 0.7rem;
  padding-top: 1rem;
}

.explicationcontent h2 {
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.explication {
  padding-left: 3rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}

.close {
  text-align: right;
  margin-right: 0.8rem;
  margin-top: 0.4rem;
}


 .icon {
   text-align: center;
   padding-bottom: 1.5rem;
 }

.catalogue-card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
}

.intro {
  font-size: 1.2rem;
  text-align: center;
}

.photoswiper {
  height: 60%;
}
/* contact */
@media (max-width: 576px) {
  .container-contact {
    margin: 1rem;
  }
}

@media (min-width: 768px) {
  .container-contact {
    margin: 5rem;
    padding-left: 9rem;
    padding-right: 9rem;
  }
}


.form-control {
  margin-bottom: 1rem;
}
label {
  font-weight: 200;
  font-size: 1.1rem;
}
small {
  font-weight: 200;
  color: silver;
}
input {
  font-weight: 200;
}
.envoyer {
  text-align: center;
}
.text-intro {
  text-align: center;
  padding-top: 4rem;
}
.text-tel {
  padding-top: 1rem;
  text-align: center;
}
/* footer */

.footer {
  text-align: center;
  color: rgb(177,218,218);
}

.footer p {
  padding-bottom: 1rem;
  font-weight: 400;
  color: rgb(127,188,188);
}

.footer h3 {
  color: rgb(177,218,218);
  padding-bottom: 1rem;
}

.renseignement {
  padding-top: 1.5rem;
}

@media (max-width: 576px) {
.face {
  margin-bottom: 2rem;
}
}

/* Symbolik c'ets quoi */


@media (max-width: 576px) {
  .cest-quoi {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 3rem;
  }
  .schema img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .cest-quoi {
    padding-left: 10rem;
    padding-right: 5rem;
    padding-top: 3rem;
  }
  .schema img {
    width: 90%;
  }
}

  .icon-quoi {
    text-align: center
  }


/* contact-done */

.merci {
  text-align: center;
}


/*head*/

.frise {
  margin-top: -7px;
}

.frise-sm {
  margin-top: -13px
}

.frise-md {
  margin-top: -8px;
}


@media (max-width: 576px) {
 .responsive-md {
   display: none;
}
}

@media (min-width: 992px) {
 .responsive-md {
   display: none;
 }
}

@media (max-width: 992px) {
.responsive-l-f {
  display: none;
}
}

@media (max-width: 576px) {
 .responsive-l {
   display: none;
 }
}

@media (min-width: 768px) {
 .responsive-sm {
   display: none;
 }
}
