{{ define "main" }}
<!--<img src="{{ .Params.banniere }}" alt="{{ .Params.title }}" width="100%" class="responsive-l">-->

<section>
  <div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="text-right">
        <img class="titleimg" src="{{ .Params.titleimg }}" alt="{{ .Title }}">
        <div class="catalogue-age">
          <p>{{ .Params.age }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      {{ if isset .Params "espace" }}
    <p class="catalogue-description lead">{{ .Params.description | markdownify }}</p>
    {{ end }}
    </div>
  </div>
</div>

</section>

<section class="padding-top-bot-2">
  <div class="swiper-container">
      <div class="swiper-wrapper">
        {{ range .Params.slider }}
        <div class="swiper-slide"><img src="{{ .img }}"></div>
        {{ end }}
        </div>
      </div>
  <div class="swiper-pagination"></div>
</section>

<section class="container padding-top-bot-2">
  <h1 class="catalogue-h1">Informations</h1>
  <ul class="catalogue-ul">
    <li><span class="catalogue-ul-bold">Age :</span> {{ .Params.age }}</li>
    <li><span class="catalogue-ul-bold">Nombre d'enfants simultanément * :</span> jusqu'à {{ .Params.nombre }}</li>
    <li><span class="catalogue-ul-bold">Superficie minimale nécessaire au jeu * :</span> {{ .Params.superficie }}</li>
    <li><span class="catalogue-ul-bold">Préférence de lieu :</span> {{ .Params.preference }}</li>
    <li class="catalogue-info"><span class="padding-left-3">{{ .Content | markdownify }}</span></li>
  </ul>
<p class="technique"><span class="catalogue-ul-bold">*</span> Ces informations sont données à titre indicatif pour un cadre ludique optimal avec l'espace au complet.<br>Elles sont ajustables à la situation : pour une superficie limitée on préférera un nombre réduit d'enfants, plus d'enfants nécessitera une plus grande surface de jeu, etc.</p>
<div class="catalogue-ul ">
  <br>
<p class="catalogue-ul-bold">Disponible en location à la journée, à la semaine ou en prestation avec animation assurée par Symbolik.</p>
</div>
<div class="link-catalogue text-center demande">
    <a href="/contact">
      <button type="button" class="btn btn-light">Demander nos disponibilités</button></a>
</div>
</section>
<section class="container">
    <div class="voir-aussi">
      <h3>Voir aussi :</h3>
  <div class="row">
    {{ $name := .Params.title}}
    {{ range $.Site.Pages }}
    {{ if isset .Params "espace" }}
    {{ if ne .Params.Title $name}}
    <div class="col-lg-2 col-md-3 col-sm-4 mx-auto text-center">
    <a href="{{ .Params.lien }}"><img src="{{ .Params.catalogueimgb }}" alt="" class="pic"></a>
  </div>
    {{ end }}
    {{ end }}
  {{ end }}

</div>
  </div>
</section>

{{ end }}
