{{ define "main" }}
<section class="container">
  <div class="text-center index">
    <img src="/img/logo-rond-bleu.png" alt="Symbolik" width="200rem" style="margin:2rem">
  </div>
</section>
<!--    <img src="/img/logo-minimaliste.png" alt="Symbolik" width="60rem" style="margin-top:3rem">
<!--      <h1>Location et animation d'espaces de jeux thématisés</h1>
      <h2>Manifestations, festivals, structures d'accueil <br>Anniversaires, mariages, fêtes de familles</h2>-->
<section>
  <div class="container">
    <div class="row text-center citation">
      <div class="col">
        {{ .Params.catchlinetitre2 }}
        <br>
        {{ .Params.catchline1 }}
        <br>
      </div>
      <div class="col">
        {{ .Params.catchlinetitre1 }}
        <br>
        {{ .Params.catchline1 }}
      </div>
      <div class="col">
        {{ .Params.catchlinetitre3 }}
        <br>
        {{ .Params.catchline3 }}
      </div>
    </div>
  </div>
</section>

<section class="container citation-padding">
  <div class="row justify-content-md-center">
  <div class="col col-lg-2 text-center">
    <img src="/img/guillemet-g.png" alt="guillemet" width="80" class="rotate">
  </div>
  <div class="col-lg-8 text-center">
    <div class="citation">{{ .Params.description2 }}</div>
  </div>
  <div class="col col-lg-2 text-center">
    <img src="/img/guillemet-d.png" alt="guillemet" width="80" class="rotate">
  </div>
</div>
</section>

<section class="container padding-top-bot-5">
  <h1 class="index-h1">Nos offres adaptées</h1>
  <div class="row">
    {{ range .Params.offres }}
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto d-flex align-items-stretch col-centered">
      <div class="prestaaccueil">
        <div class="icon">
        <img src="{{ .Params.icon }}" alt="{{ .Title }}" width="60rem">
        </div>
        <div class="icon">
        <img src="{{ .icon }}" alt="{{ .nom }}" width="60rem">
        </div>
       <h2 class="locationtitle">{{ .nom }}</h2>
       <h3 class="locationintro">{{ .intro }}</h3>
       <p class="locationcontent">{{ .description | markdownify }}</p>
  </div>
</div>
    {{ end }}
  </div>
  <div class="link-catalogue text-center demande">
    <a href="/catalogue"><button type="button" class="btn btn-light">Consultez notre catalogue</button></a>


</div>
</section>

{{ end }}
