{{ define "main" }}
<section>
  <div class="row index">
    <div class="col-lg-6 col-md-5 col-sm-12 no-padding text-center">
      <img src="/img/logo-long-sans.png" alt="Symbolik" class="index-logo">
      <h1>Location et animation d'espaces de jeux thématisés</h1>
      <h2>Manifestations, festivals, structures d'accueil <br>Anniversaires, mariages, fêtes de familles</h2>
    </div>
    <div class="col-lg-6 col-md-7 col-sm-12 no-padding text-right">
        <img src="/img/accueil-essai5.jpg" alt="Symbolik" width="90%" style="margin-top:4rem">
    </div>

  </div>
</section>
<br>
<br><br>
<section class="green-light">
  <div class="container  padding-top-1-2">
    <div class="row text-center index-section2-title">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h2>{{ .Params.catchlinetitre1 }}</h2>
        <h2>{{ .Params.catchlinetitre1a }}</h2>
        <img src="{{ .Params.image1 }}" alt="" width="90%" class="index-section2-image">

      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h2>{{ .Params.catchlinetitre2 }}</h2>
        <h2>{{ .Params.catchlinetitre2a }}</h2>
        <img src="{{ .Params.image2 }}" alt="" width="90%" class="index-section2-image">

      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 align-items-stretch col-centered">
    <h2>{{ .Params.catchlinetitre3 }}</h2>
    <h2>{{ .Params.catchlinetitre3a }}</h2>
        <img src="{{ .Params.image3 }}" alt="" width="90%" class="index-section2-image">

      </div>
    </div>
  </div>
</section>

<!--  <img src="/img/index-intro-catalogue.png" alt="" width="100%">-->
<section class="container">
  <div class="citation citation-padding">
    <p>Un décor qui s'installe chez vous</p>
    <p>pour le plus grand plaisir de vos enfants !</p>
  </div>
</section>

<section class="padding-top-bot-2">
  <div class="swiper-container">
      <div class="swiper-wrapper">
        {{ range .Params.slider }}
        <div class="swiper-slide"><img src="{{ .img }}"></div>
        {{ end }}
        </div>

      </div>
  <div class="swiper-pagination"></div>
</section>

<section class="container">
  <div class="citation citation-padding">
<h2 class="">Des formules adaptées</h2>
      <div class="row">
        {{ range .Params.offres }}
        <div class="col-lg-6 col-md-6 col-sm-12 mx-auto d-flex align-items-stretch col-centered">
          <div class="prestaaccueil">
            <div class="icon">
            <img src="{{ .icon }}" alt="{{ .nom }}" width="60rem">
            </div>
            <h3>{{ .qui }}</h3>
            <h3 class="locationintro">{{ .description | markdownify }}</h3>
            <div class="link-catalogue text-center demande">
                <a href="{{ .link }}">
                  <button type="button" class="btn btn-light">
                    <p class="locationcontent">{{ .intro }}</p>
                     <h2 class="locationtitle">{{ .nom }}</h2>
                  </button></a>
            </div>

      </div>
    </div>
        {{ end }}
      </div>
  </div>
</section>

<section class="container padding-top-bot-2">
<!--  <div class="indexsection3">
      <h2>Des thèmes variés</h2>
 </div>-->
<div class="row">
  {{ range .Data.Pages }}
  {{ if isset .Params "espace" }}
  <div class="col-lg-3 col-md-3 col-sm-4 mx-auto text-center">
    <div class="image padding-top-bot-1">
      <a href="/catalogue/{{ .Params.lien }}">
        <img src="{{ .Params.catalogueimgb }}" alt="{{ .Params.title }}" width="70%" title="{{ .Params.title }}">
      </a>
    </div>
</div>
{{ end }}
{{ end }}
<!--<div class="swiper-container swiper-2">
    <div class="swiper-wrapper">
      {{ range .Data.Pages }}
      {{ if isset .Params "espace" }}
      <div class="swiper-slide"><img src="{{ .Params.catalogueimgb }}"></div>
      {{ end }}
      {{ end }}
      </div>
      <div class="swiper-button-prev"><img src="/img/icon-arrow-left.png" alt=""></div>
      <div class="swiper-button-next"><img src="/img/icon-arrow-right.png" alt=""></div>
    </div>
<div class="swiper-pagination"></div>-->

</section>

<section class="index-section4 green-light text-center padding-top-bot-1">
  <img src="/img/logo-minimaliste.png" alt="logo-symbolik" width="8%">
  <div class="row justify-content-around">
    <div class="col-lg-6 col-md-6 col-sm-12 ml-auto padding-l-r-2">
      <h2>{{ .Params.responsabletitle }}</h2>
          <p>{{ .Params.responsable | markdownify }}</p>
        </div>
    <div class="col-lg-6 col-md-6 col-sm-12 ml-auto padding-l-r-2">
      <h2>{{ .Params.artisanattitle }}</h2>
          <p>{{ .Params.artisanat | markdownify }}</p>
        </div>
    </div>
</section>

<!--<section class="container">
  <h2>Retrouvez nous sur instagram</h2>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text"></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</section>-->

<!--<section class="container">
 <div class="indexsection3">
   <div class="row">

 <div class="col-lg-6 col-md-12 col-sm-12">
<div class="text-right">
     <h2>A partir de 5 ans</h2>
</div>
   <div class="row">
     {{ range .Data.Pages }}
     {{ if isset .Params "espace" }}
       <div class="padding-top-1-2">
         <a href="/catalogue/{{ .Params.lien }}">
           <!--<div class="indextitleimg">
             <img src="{{ .Params.titleimg }}" alt="{{ .Params.title }}" height="40rem" title="{{ .Params.title }}">
           </div>
             <img src="{{ .Params.catalogueimg }}" alt="{{ .Params.title }}" width="100%" title="{{ .Params.title }}">
         </a>
       </div>
     {{ end }}
     {{ end }}
     </div>
   </div>
   <div class="col-lg-6 col-md-12 col-sm-12">
     <div class="text-left">
          <h2>Dès 2 ans</h2>
     </div>
     <div class="row">
       {{ range .Data.Pages }}
       {{ if isset .Params "espacebb" }}
         <div class="padding-top-1-2">
           <a href="/catalogue/{{ .Params.lien }}">
            <!-- <div class="text-right">
                <div class="indextitleimg">
               <img src="{{ .Params.titleimg }}" alt="{{ .Params.title }}" height="40rem" title="{{ .Params.title }}">
              </div>
             </div>
             <img src="{{ .Params.catalogueimg }}" alt="{{ .Params.title }}" width="100%" title="{{ .Params.title }}">
           </a>
         </div>
       {{ end }}
       {{ end }}
     </div>
   </div>
 </div>
</div>
</section>
-->


<!--<section class="container">
 <div class="indexsection3">
   <div class="row">

 <div class="col-lg-6 col-md-12 col-sm-12">
<div class="text-right">
     <h2>A partir de 5 ans</h2>
</div>
   <div class="row">
     {{ range .Data.Pages }}
     {{ if isset .Params "espace" }}
       <div class="padding-top-1-2">
         <a href="/catalogue/{{ .Params.lien }}">
           <div class="indextitleimg">
             <img src="{{ .Params.titleimg }}" alt="{{ .Params.title }}" height="40rem" title="{{ .Params.title }}">
           </div>
             <img src="{{ .Params.catalogueimg }}" alt="{{ .Params.title }}" width="100%" title="{{ .Params.title }}">
         </a>
       </div>
     {{ end }}
     {{ end }}
     </div>
   </div>
   <div class="col-lg-6 col-md-12 col-sm-12">
     <div class="text-left">
          <h2>Dès 2 ans</h2>
     </div>
     <div class="row">
       {{ range .Data.Pages }}
       {{ if isset .Params "espacebb" }}
         <div class="padding-top-1-2">
           <a href="/catalogue/{{ .Params.lien }}">
            <div class="text-right">
                <div class="indextitleimg">
               <img src="{{ .Params.titleimg }}" alt="{{ .Params.title }}" height="40rem" title="{{ .Params.title }}">
              </div>
             </div>
             <img src="{{ .Params.catalogueimg }}" alt="{{ .Params.title }}" width="100%" title="{{ .Params.title }}">
           </a>
         </div>
       {{ end }}
       {{ end }}
     </div>
   </div>
 </div>
</div>
</section>

 <!--<section class="container">
  <div class="indexsection3">
    <div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <h2>Dès 2 ans</h2>
    <div class="row">
      {{ range .Data.Pages }}
      {{ if isset .Params "espacebb" }}
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="image">
          <a href="/catalogue/{{ .Params.lien }}">
            <img src="{{ .Params.titleimg }}" alt="{{ .Params.title }}" height="40rem" title="{{ .Params.title }}">
            <img src="{{ .Params.catalogueimg }}" alt="{{ .Params.title }}" width="100%" title="{{ .Params.title }}">
          </a>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <h2>A partir de 5 ans</h2>
    <div class="row">
      {{ range .Data.Pages }}
      {{ if isset .Params "espace" }}
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="image">
          <a href="/catalogue/{{ .Params.lien }}">
            <img src="{{ .Params.titleimg }}" alt="{{ .Params.title }}" height="40rem" title="{{ .Params.title }}">
            <img src="{{ .Params.catalogueimg }}" alt="{{ .Params.title }}" width="100%" title="{{ .Params.title }}">
          </a>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>
</section>-->


<!--<section>
  <div class="row">
    <div class="text-center">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <h2>{{ .Params.responsabletitle }}</h2>
        <img src="/img/icon-terre.png" alt="" width="20%">
 <p>{{ .Params.responsable | markdownify }}</p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <h2>{{ .Params.artisanattitle }}</h2>
    <img src="/img/icon-ciseaux.png" alt="" width="20%">
    <p>{{ .Params.artisanat | markdownify }}</p>
  </div>
</div>
    </div>
</section>-->

<!--<section class="container">
  <div class="indexsection3">
    <h1>Catalogue</h1>
<div class="row">
  {{ range .Data.Pages }}
  {{ if isset .Params "espace" }}
  <h2>{{ .Params.agetitle}}</h2>
  <div class="col-lg-2 col-md-3 col-sm-4 padding-top-bot-2 mx-auto text-center">
    <div class="image">
      <a href="/catalogue/{{ .Params.lien }}">
        <img src="{{ .Params.titleimg }}" alt="{{ .Params.title }}" width="130%" title="{{ .Params.title }}">
        <img src="{{ .Params.catalogueimg }}" alt="{{ .Params.title }}" width="120%" title="{{ .Params.title }}">
      </a>
    </div>
</div>
{{ end }}
{{ end }}
</div>
  </div>
</section>
<section class="container citation-padding">
  <div class="row justify-content-md-center">
  <div class="col col-lg-2 text-center">
    <img src="/img/guillemet-g.png" alt="guillemet" width="80" class="rotate">
  </div>
  <div class="col-lg-8 text-center">
    <div class="citation">{{ .Params.description2 }}</div>
  </div>
  <div class="col col-lg-2 text-center">
    <img src="/img/guillemet-d.png" alt="guillemet" width="80" class="rotate">
  </div>
</div>
</section>-->



{{ end }}
