{{ define "main" }}

<!--<section>
  <div class="container text-center index padding-3">
    <div class="row">
      <div class="col-lg-4">
        <img src="/img/logo-rond-blanc.png" alt="Symbolik" width="300">
      </div>
      <div class="col-lg-8">
    <h1>Location d'espaces de jeux thématisés</h1>
    <h2>Livraison, installation, animation d'espace.</h2>
</div>
  </div>
</section>-->
<section class="container">
  <div class="text-center index">
      <h1>Location et animation d'espaces de jeux thématisés</h1>
      <h2>Manifestations, festivals, structure d'accueil <br>Anniversaires, mariages, fêtes de familles</h2>
  </div>
</section>




<section class="container padding-top-bot-5">
  <div id="carouselenjeu" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {{ range $index, $element :=  .Params.caroussel }}
    <div class="carousel-item {{ if (eq $index 0) }}active{{ end }}">
      <a href="{{ $element.lien }}"><img class="d-block w-100" src="{{ $element.img }}" alt="First slide"></a>
      <div class="carousel-caption d-none d-md-block">
      <h2><span class="carousel-text-index">{{ $element.nom }}</span></h2>
      </div>
    </div>
    {{ end }}
  </div>
  <a class="carousel-control-prev" href="#carouselenjeu" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselenjeu" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>


<section class="container padding-top-bot-5">
  <div class="row justify-content-md-center">
  <div class="col col-lg-2 text-center">
    <img src="/img/guillemet-g.png" alt="guillemet" width="80">
  </div>
  <div class="col-lg-8 text-center">
    <div class="citation">{{ .Params.description2 }}</div>
  </div>
  <div class="col col-lg-2 text-center">
    <img src="/img/guillemet-d.png" alt="guillemet" width="80">
  </div>
</div>

</section>

<section class="container padding-top-bot-5">
  <h1 class="index-h1">Nos offres adaptées</h1>
  <div class="row">
    {{ range .Params.offres }}
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto d-flex align-items-stretch col-centered">
      <div class="prestaaccueil">
        <div class="icon">
        <img src="{{ .Params.icon }}" alt="{{ .Title }}" width="60rem">
        </div>
        <div class="icon">
        <img src="{{ .icon }}" alt="{{ .nom }}" width="60rem">
        </div>
       <h2 class="locationtitle">{{ .nom }}</h2>
       <h3 class="locationintro">{{ .intro }}</h3>
       <p class="locationcontent">{{ .description | markdownify }}</p>
  </div>
</div>
    {{ end }}
  </div>
  <div class="link-catalogue text-center demande">
    <a href="/catalogue"><button type="button" class="btn btn-light">Consultez notre catalogue</button></a>

    <!--<div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4" style="text-align:right;">
        <img src="/img/arrow-2.png" width="30">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h2><a href="/catalogue">Consultez notre catalogue</a></h2>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="/img/arrow-2b.png" width="30">
      </div>
    </div>-->
</div>
</section>

{{ end }}
