{{ define "main" }}
<section class="container catalogue">
  <h1>Catalogue</h1>
<div class="row">
  {{ range .Data.Pages }}
  {{ if isset .Params "espace" }}
  <div class="col-lg-4 padding-top-bot-2 mx-auto text-center">
    <div class="image">
      <a href="/catalogue/{{ .Params.lien }}">
        <img src="{{ .Params.catalogueimg }}" alt="{{ .Params.title }}" width="250" title="{{ .Params.title }}">
        <p class="catalogue-age" style="padding-top:1rem;">{{ .Params.age }}</p>
      </a>
    </div>
</div>
{{ end }}
{{ end }}

</div>
</section>

<section class="container">
  <div class="catalogue">
  <a name="a1"></a>
  <h1>Nos offres pour les professionnels</h1>
</div>
  <div class="row">
    {{ range .Data.Pages }}
    {{ if isset .Params "offrespro" }}
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto d-flex align-items-stretch col-centered">
      <div class="presta">
        <div class="icon">
        <img src="{{ .Params.icon }}" alt="{{ .Title }}" width="60rem">
        </div>
       <h2 class="locationtitle">{{ .Title }}</h2>
       <p class="locationcontent">{{ .Params.intro | markdownify }}</p>
       <!-- Large modal -->
       <div class="text-center">
       <button type="button" class="btn btn-light" data-toggle="modal" data-target=".bd-example-modal-lg{{ .Params.slug }}">En savoir plus</button>
     </div>
       <div class="modal fade bd-example-modal-lg{{ .Params.slug }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
           <div class="modal-content">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
            <img src="{{ .Params.icon }}" class="mx-auto" alt="{{ .Title }}" width="60rem">
             <h2 class="explicationtitle">{{ .Title }}</h2>
             <hr>
             <div class="explication">
             <div class="explicationcontent">{{ .Content }}</div>
           </div>
         </div>
         </div>
       </div>
    </div>
  </div>
    {{ end }}
    {{ end }}
  </div>
</section>
<section class="container">
  <div class="catalogue">
      <a name="a2"></a>
  <h1>Nos offres pour les particuliers</h1>
</div>
<div class="row">
  {{ range .Data.Pages }}
  {{ if isset .Params "offres" }}
  <div class="col-lg-6 col-md-6 col-sm-12 mx-auto d-flex align-items-stretch col-centered">
    <div class="presta">
      <div class="icon">
      <img src="{{ .Params.icon }}" alt="{{ .Title }}" width="60rem">
      </div>
     <h2 class="locationtitle">{{ .Title }}</h2>
     <p class="locationcontent">{{ .Params.intro | markdownify }}</p>
     <!-- Large modal -->
     <div class="text-center">
     <button type="button" class="btn btn-light" data-toggle="modal" data-target=".bd-example-modal-lg{{ .Params.slug }}">En savoir plus</button>
   </div>
     <div class="modal fade bd-example-modal-lg{{ .Params.slug }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
       <div class="modal-dialog modal-lg">
         <div class="modal-content">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
          <img src="{{ .Params.icon }}" class="mx-auto" alt="{{ .Title }}" width="60rem">
           <h2 class="explicationtitle">{{ .Title }}</h2>
           <hr>
           <div class="explication">
           <div class="explicationcontent">{{ .Content }}</div>
         </div>
       </div>
       </div>
     </div>
  </div>
</div>
  {{ end }}
  {{ end }}
</div>
</section>


{{ end }}
