{{ define "main" }}
<section class="content">
  

</section>
<section>
  <div class="container-contact content">
     <form>
  <div class="form-group">
    <label for="mail">Email</label>
    <input type="email" class="form-control" id="mail">
    <label for="mail">Téléphone</label>
    <input type="tel" class="form-control" id="tel">
  </div>
  <div class="form-group">
    <label for="content">Décrivez votre demande, nous vous recontactons rapidement.<br>
    <small>(Pour une demande de devis, pensez à préciser la date, le nombre d'enfants attendus ainsi que l'espace disponible !)</small></label>
    <textarea class="form-control" id="content" rows="5"></textarea>
  </div>
</form>
<div class="envoyer">
  <button type="button" class="btn btn-light">Envoyer</button>
</div>
     </div>
</section>

{{ end }}
