{{ define "main" }}
<section class="content text-intro container">
    <p>Pour un devis, faites votre demande via le formulaire ci-après ou par mail,<br> nous vous recontactons rapidement<a href="mailto:contact@symbolik.fr"></p>contact@symbolik.fr<p></a></p>
</section>
<section class="content text-tel container">
  <p>Pour tout complément d'information,<br> contactez Elodie au <span class="bold">{{ .Params.tel }}</span></p>
</section>
<section>
  <div class="container-contact content">
     <form name="contact" method="POST" netlify>
  <div class="form-group">
    <label for="mail">Email</label>
    <input type="email" class="form-control" id="mail" name="email"   >
    <label for="mail">Téléphone</label>
    <input type="tel" class="form-control" id="tel" name="telephone">
  </div>
  <div class="form-group">
    <label for="content">Décrivez votre demande<br>
    <small>Pour une demande de devis, pensez à préciser la date, la tranche d'âge et le nombre d'enfants attendus.</small></label>
    <textarea class="form-control" id="content" rows="5" name="message"></textarea>
  </div>
  <div class="envoyer">
    <button type="submit" class="btn btn-light">Envoyer</button>
  </div>
</form>
     </div>
</section>

{{ end }}
